@import '../../utils/scss-variables.scss';

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: $main-text-color;
}

.input {
  height: 56px;
  border: 1px solid $inactive-color;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-text-color;
  position: relative;

  &:focus {
    outline: none !important;
    border: 2px solid $accent-color;
  }

  &::placeholder {
    color: $main-text-color;
  }
  &:focus::placeholder {
    color: transparent;
  }

  &__error {
    border: 2px solid $error-color;
  }
  &__error::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 16px;
    width: 20px;
    height: 20px;
    background-image: url(../../assets/error.svg);
  }
  &__error:focus {
    border: 2px solid $error-color;
  }
}

.message {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $main-text-color;
  &__error {
    color: $error-color;
  }
}
