$main-background-color: rgba(122, 92, 250, 0.2);
$form-background-color: #ffffff;

$main-text-color: #666666;
$secondary-text-color: #333333;
$contrast-text-color: #ffffff;

$accent-color: #7a5cfa;
$error-color: #eb5757;
$inactive-color: #cccccc;
